# https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,cjs,cjsx,mjs,mjsx,cts,ctsx,mts,mtsx,html,json,css,scss}]
charset = utf-8
indent_style = space
indent_size = 2
